@font-face {
  font-family: "Avenir Black";
  src: url(/css/fonts/AvenirLTStd-Black.otf) format("truetype");
}

body {
	font-family: "Avenir", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
}


h1 {
	margin-top: 65px;
	font-weight: 700;
}

h1.homepage {
	font-size: 48px;
	margin: 15px 0 10px 0;
	font-weight: 700;
}

h4.homepage {
	margin-bottom: 58px;
	font-weight: 600;

}

h2.title {
	margin-top: 65px;
	font-weight: 700;
}

h3 {
	margin-top: 30px;
	font-weight: 700;
}

div.divider {
	background-color: #F1F1F1; 
	padding: 10px 0px; 
	text-align: center;
	margin: 0 auto;
}

div.divider h2 {
	margin: auto; 
	text-align: left;
	color: #000000;
	font-weight: normal;
	font-family: "Avenir Black", Arial, sans-serif;
}

a.callout {
	margin-top: 50px;
	margin-bottom: 70px;
	padding: 10px 20px;
	border-radius: 4px;
	background: #EDD000;
	font-family: AvenirNext-DemiBold;
	font-size: 18px;
	color: #323330;
	line-height: 25px;
	border: 2px solid #EDD000;
	text-transform: uppercase;
}

a.callout:hover {
	background: #CCB000;
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #CCB000;
}


a.callout-white {
	border-radius: 4px;
	background: #FFFFFF;
	border: 2px solid #CCB000;
	margin-top: 50px;
	margin-bottom: 70px;
	margin-left: 25px;
	padding: 10px 20px;
	background: #ffffff;
	font-family: AvenirNext-DemiBold;
	font-size: 18px;
	color: #CCB000;
	text-transform: uppercase;
	line-height: 25px;
}

a.callout-white:hover {
	background: #CCB000;
	color: #FFFFFF;
	text-decoration: none;
}

a.secondary-callout {
	color: #999999;
	text-decoration: underline;
	margin-left: 35px;	
	font-size: 16px;
}

a.secondary-callout:hover {
	color: #000000;
	text-decoration: none;	
}

a#left-floater {
	position: fixed;
	left: -100px;
	top: 300px;
	width: 125px;
	padding: 7px;
	background: #f6f6f6 url(../images/logo-image.png) right 7px center no-repeat;
	background-size: 40px 40px;
	color: #000000;	
	font-size: 16px;
	text-align: left;
	border-right: 4px solid #00d9e1;
}

a#left-floater:hover {
	position: fixed;
	left: 0;
	top: 300px;
	width: 125px;
	text-decoration: none;
}

a#read-next {
margin-top: 35px;
border: 1px solid #CCB000;
font-weight: bold;
font-size: 22px;
height: inherit;
background: #CCB000;
padding: 10px 30px 10px 30px;
display: block;
color: black;
}

a#read-next:hover {
text-decoration: none;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Section navigation */ 

.section-nav {
  text-align: center;
  padding-top: 40px;
  position: relative;
  margin: 40px -20px 10px;
}

.section-nav > div {
  width: 49.5%;
}

.section-nav a, .section-nav span {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px 10px;
  border-radius: 5px;
  /*border: 1px solid #333;*/
  background: #CCB000;
}

.section-nav a:hover {
  color: #fff;
  background: #cacaca;
  text-decoration: none;
}

.section-nav .next, .section-nav .prev {
  position: relative;
}

.section-nav .next:after, .section-nav .prev:before {
  font-size: 36px;
  color: #212121;
  font-weight: 800;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  position: absolute;
  top: -7px;
}

.section-nav .next:after {
  content: "›";
  right: 10px;
  margin-top: 11px;
}

.section-nav .prev:before {
  content: "‹";
  left: 10px;
  margin-top: 11px;
}

.section-nav .prev, .section-nav .prev:hover {
  /*float: left;*/
  padding-left: 30px;
}

.section-nav .next, .section-nav .next:hover {
  /*float: right;*/
  padding-right: 30px;
}

.section-nav .disabled {
  opacity: .5;
  /*filter: alpha*/
  cursor: default;
}

.navbar .nav > .active > a {
	color: #F0E040;
}

.intro {
	width: 800px;	
	margin: 0 auto;
	text-align: left;
	padding: 30px 0px;
}

.description h2 {
	text-align: left;
	font-size: 26px;
}

.description h4 {
	text-align: left;
	font-size: 25px;
}

.description {
	margin: 15px;
	text-align: left;	
	font-size: 16px;
	padding: 25px 0 25px 0;
}

.description p {
	text-align: left;	
	font-size: 18px;
	margin: 15px 0 45px 0;
	line-height: 1.3;
}

img.left {
	float: left;
	margin-right: 48px;
	margin-top: 50px;
}

img.right {
	float: right;
	margin-left: 48px;
	margin-top: 50px;
}

.mask-top {
	width: 660px;
	height: 20px;
	z-index: 2;  
	background: #FFFFFF;
	margin-left: 1%;
	margin-top: -5px;
	position: relative;
}

.mask-bottom {
	width: 660px;
	height: 20px;
	z-index: 2;
	background: #FFFFFF;
	margin-left: 1%;
	margin-top: -5px;
	position: absolute;
}

.explore {
	border: 1px solid #000000;	
	padding-left: 10px;
	padding-right: 10px;
}

.explore h2 {
	color: #CCB000;
	font-size: 18pt;
}

a { color: #CCB000; }
a:hover {color: #bba308;}
