* dan.homola@gooddata.com lubomir.slivka@gooddata.com matyas.kandl@gooddata.com

/libs/sdk-ui/src/base/localization/bundles nestor.encinas@gooddata.com petr.janu@gooddata.com
/libs/sdk-ui/src/internal/translations/ nestor.encinas@gooddata.com petr.janu@gooddata.com
