* dan.homola@gooddata.com lubomir.slivka@gooddata.com matyas.kandl@gooddata.com

/libs/sdk-ui/src/base/localization/bundles patrik.braborec@gooddata.com
/libs/sdk-ui/src/internal/translations/ patrik.braborec@gooddata.com
