.DS_Store
dist-storybook
dist
styles/css

# Logs
npm-debug.log*
yarn-error.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# IntelliJ project files
.idea

# VS Code project files
.vscode

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yalc files
.yalc
yalc.lock

# junit test/coverage reports
ci/results
ci/results/coverage
coverage

junit.xml

test-storybook/

.env
/server.key
/server.crt

/.testcaferc.json
/examples/_screenshots
