{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx}": ["eslint --fix", "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"],
    "./**/*.scss": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}
