{
    "./**/*.{ts,js,cjs,mjs,tsx,jsx}": ["oxfmt", "gdc-fix-copyright"],
    "./**/*.{json,md,yaml,html}": "oxfmt",
    "./**/*.{scss}": ["stylelint --fix", "oxfmt", "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"]
}
