{
    "extends": ["@gooddata/stylelint-config", "stylelint-config-prettier"],
    "rules": {
        "order/properties-order": null,
        "max-nesting-depth": 4,
        "value-keyword-case": ["lower", { "ignoreProperties": ["--gd-font-family"] }],
        "color-hex-length": null,
        "declaration-empty-line-before": null
    }
}
