.gd-breadcrumb {
    display: none;
    list-style-type: none;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;

    @include mq(large) {
        display: flex;
    }

    &-item {
        &::before {
            content: "/";
            margin-left: 4px;
            margin-right: 4px;
        }

        &:first-child {
            &::before {
                display: none;
            }
        }

        a {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $color-deep-purple;
            }
        }
    }
}
