.gd-breadcrumb {
    display: none;
    list-style-type: none;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;

    @include mq(large) {
        display: flex;
    }

    &-item {
        &::before {
            content: "/";
            margin-left: 4px;
            margin-right: 4px;
        }

        &:first-child {
            &::before {
                display: none;
            }
        }

        a {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $color-deep-purple;
            }
        }
    }
}
// Fix the gap on sidebar - media query for breadcrumbs
@media only screen and (min-width: 991px) {
    .td-main .gd-breadcrumb {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .td-main .gd-breadcrumb {
        display: flex;
        padding-top: 145px;
    }

    .col-xl-3.td-sidebar.d-print-none {
        padding-top: 0;
    }
}