# (C) 2019-2022 GoodData Corporation

# IMPORTANT! do not keep comments on the lines, otherwise they will be included
# in the variable and also do not use spaces around =, examples:
# * correct:
# VISUAL_MODE=true
# * incorrect:
# VISUAL_MODE = true
# VISUAL_MODE=true #true|false

HOST=https://staging.dev-latest.stg11.panther.intgdc.com
TIGER_API_TOKEN=
FIXTURE_TYPE= #goodsales|demo
TIGER_DATASOURCES_NAME= # demo-ds|pg_staging-demo|vertica_staging-goodsales ....etc
VISUAL_MODE= #true|false
CYPRESS_TEST_TAGS= #filter based on test tags, e.g. pre-merge_isolated_tiger,pre-merge_isolated_tiger,checklist_integrated_tiger
FILTER= #filter based on spec file name, e.g. embedDialog.spec.ts
