# (C) 2019-2022 GoodData Corporation

# Recommended way of switching between tiger and bear backends is
# to keep all values filled in and commenting out one of the sections.

# IMPORTANT! do not keep comments on the lines, otherwise they will be included
# in the variable and also do not use spaces around =, examples:
# * correct:
# VISUAL_MODE=true
# * incorrect:
# VISUAL_MODE = true
# VISUAL_MODE=true #true|false

#### Section for BEAR
SDK_BACKEND=BEAR
HOST=https://staging3.intgdc.com
USER_NAME=first.last@gooddata.com
PASSWORD=
AUTH_TOKEN=pgstg2
FIXTURE_TYPE=goodsales
VISUAL_MODE= #true|false
CYPRESS_TEST_TAGS= #filter based on test tags, e.g. pre-merge_isolated_bear,pre-merge_isolated_bear,checklist_integrated_bear
FILTER= #filter based on spec file name, e.g. embedDialog.spec.ts

#### Section for Tiger
SDK_BACKEND=TIGER
HOST=https://staging-automation.anywhere.gooddata.com
TIGER_API_TOKEN=
FIXTURE_TYPE= #goodsales|demo
TIGER_DATASOURCES_NAME= # demo-ds|pg_staging-demo|vertica_staging-goodsales ....etc
VISUAL_MODE= #true|false
CYPRESS_TEST_TAGS= #filter based on test tags, e.g. pre-merge_isolated_tiger,pre-merge_isolated_tiger,checklist_integrated_tiger
FILTER= #filter based on spec file name, e.g. embedDialog.spec.ts
