    <div class="api-options">
        Show:
        <label>
            <input type="checkbox" class="api-show-inherited" checked>
            Inherited
        </label>

        <label>
            <input type="checkbox" class="api-show-protected">
            Protected
        </label>

        <label>
            <input type="checkbox" class="api-show-private">
            Private
        </label>
        <label>
            <input type="checkbox" class="api-show-deprecated">
            Deprecated
        </label>
    </div>

