// (C) 2024-2026 GoodData Corporation

/* oxlint-disable no-barrel-files/no-barrel-files */
{{>licenseInfo}}


export * from "./api{{importFileExtension}}";
export * from "./configuration{{importFileExtension}}";
{{#withSeparateModelsAndApi}}export * from "./{{tsModelPackage}}{{#importFileExtension}}/index{{importFileExtension}}{{/importFileExtension}}";{{/withSeparateModelsAndApi}}
