##
## This .env file will be picked up by the Dashboard Plugin development harness; the values contained herein
## will be used only while developing the plugin.
##
## They will never make their way into a production build of the plugin itself. Plugins developed in a generic
## way can work out of the box on any backend, workspace or dashboard.
##

# Specify backend URL including protocol. The Analytical Backend used by the development harness will connect
# to this backend via proxy.
#
# If you do not provide backend URL, the harness will connect to public server used by GD.UI Examples Gallery
BACKEND_URL=

# Specify workspace that contains dashboard against which you want to develop and test the plugin.
#
# If you do not provide workspace, the harness will use default workspace used by GD.UI Examples Gallery
WORKSPACE=

# Specify dashboard against which you want to develop and test the plugin.
#
# If you do not provide dashboard, the harness will use a nice dashboard from GD.UI Examples Gallery
DASHBOARD_ID=

##
## Authentication setup when developing plugins against GoodData Platform
##
## Note: this setup is only used by the development harness. Plugins deployed to production rely on the context
## to set up the security context.
##

# Specify GoodData Platform username to log in as.
#
#GDC_USERNAME=

# Specify password to use for authentication.
#
# Note: you can also set the value of GDC_PASSWORD env variable outside of this file.
#GDC_PASSWORD=

##
## Authentication setup when developing against GoodData.CN
##

# Specify API token to use for authentication
#
# Note: you can also set the value of TIGER_API_TOKEN env variable outside of this file.
#TIGER_API_TOKEN=
