##
## Copy this file, name it .env and fill it with your values, they will be picked up when running `npm start`
##
BACKEND_URL=https://some.gooddata.com
WORKSPACE=your-workspace-id
DASHBOARD_ID=your-dashboard-id
GDC_USERNAME=your.name@gooddata.com
GDC_PASSWORD=your password