theme = ["github.com/gooddata/gooddata-docs-theme"]
contentDir = "content/en/"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

# Necessary for proper static path resolution
# when baseUrl has some path component.
canonifyURLs = true

# Disable, it makes problems with Netlify (missing internal redirect .../path -> .../path/)
# relativeURLs = true

disableKinds = ["taxonomy", "taxonomyTerm"]

# Highlighting config
pygmentsCodeFences = true
pygmentsUseClasses = false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic = false
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle = "tango"

[module]
  proxy = "direct"
  [module.hugoVersion]
    extended = true
    min = "0.81.0"
  [[module.imports]]
    path = "github.com/gooddata/gooddata-docs-theme"
    disable = false


[frontmatter]
lastmod = ["date", ":fileModTime"]
## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
      # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
      style = "tango"
      # Uncomment if you want your chosen highlight style used for code blocks without a specified language
      # guessSyntax = "true"

[languages]
[languages.en]
title = "GoodData.UI SDK"
description = "GoodData.UI SDK documentation"
languageName ="English"
# Weight used for sorting.
weight = 1
auth_token = "YWRtaW46Ym9vdHN0cmFwOmFkbWluMTIz"
auth_header = '-H "Authorization: Bearer YWRtaW46Ym9vdHN0cmFwOmFkbWluMTIz"'

[menu]
[[menu.main]]
name = "Learn"
url = "https://www.gooddata.com/learn/"
weight = 1
[menu.main.params]
    isMobileTitle = true
    mobileOnly = true
[[menu.main]]
name = "University"
url = "https://university.gooddata.com/"
weight = 2
[[menu.main]]
name = "Community"
url = "https://community.gooddata.com/"
weight = 3
[[menu.main]]
name = "Documentation"
url = "https://gooddata.com/docs/gooddata-ui"
weight = 4
[menu.main.params]
    isHome = true
[[menu.main]]
name = "Support"
url = "https://support.gooddata.com/hc/en-us"
weight = 5
[[menu.main]]
name = "Go to GoodData.com"
url = "https://www.gooddata.com/"
weight = 6
[menu.main.params]
    mobileOnly = true

[outputs]
home = [ "HTML", "REDIR" ]
section = [ "HTML" ]

[params]
copyright = "GoodData"
offlineSearch = false
images = ["/developers/cloud-native/doc/og/OG_cloud_doc.png"]
# Default version used to navigate to docs section
version = "<<TBD>>"
# Regular expression to identify older versions folder name
activeVersions = 1

# AddSearch config
addSearchTab = "gd-ui-doc"

platformSwitch = "cloud"

# Enable syntax highlighting and copy buttons on code blocks with Prism
prism_syntax_highlighting = true

# User interface configuration
[params.ui]
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = true
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = true
#  Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
sidebar_search_disable = true
#  Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top nav bar
navbar_logo = true
# Set to true to disable the About link in the site footer
footer_about_disable = false

[params.404]
title = "Page not found"
[[params.404.links]]
title = "Home"
link = "/latest/"
[[params.404.links]]
title = "Introduction"
link = "/latest/introduction/"
[[params.404.links]]
title = "Quick Start"
link = "/latest/quick_start/"

[params.mermaid]
enable = true
[deployment]
[[deployment.targets]]
name = "s3deployment"
URL = "s3://tiger-docs-dev-s3bucket-8js43h2g3crv?region=us-east-1"
cloudFrontDistributionID = "E11AIHJE0DRPJH"

[[deployment.matchers]]
#  Cache static assets for 1 year.
pattern = "^.+\\.(js|css|svg|ttf)$"
cacheControl = "max-age=31536000, no-transform, public"
gzip = true

[[deployment.matchers]]
pattern = "^.+\\.(png|jpg)$"
cacheControl = "max-age=31536000, no-transform, public"
gzip = false

[[deployment.matchers]]
pattern = "^.+\\.(html|xml|json)$"
gzip = true

# Generate Netlify redirects file in Hugo
# Example taken from: https://github.com/gohugoio/hugoDocs/commit/c1ab9894e8292e0a74c43bbca2263b1fb3840f9e
[mediaTypes]
[mediaTypes."text/netlify"]
suffixes = [""]
delimiter = ""

[outputFormats]
[outputFormats.REDIR]
mediatype = "text/netlify"
baseName = "_redirects"
isPlainText = true
notAlternative = true

[security.funcs]
getenv = ['^HUGO_', '^CI$', '^hugo_env$']
