{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "styled-jsx/babel",
        "@babel/plugin-transform-object-rest-spread",
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-async-to-generator"
    ]
}
