{
  "extends": [
    "@gooddata",
    "prettier"
  ],

  "rules": {
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,

    "react/jsx-curly-spacing": [1, {"when": "never", "children": true}],
    "newline-per-chained-call": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/anchor-is-valid": 0,

    "import/no-unresolved": [2, { "ignore": ["@gooddata/react-components"] }],
    "import/extensions": [2, { "ignore": ["@gooddata/react-components"] }]
  },

  "globals": {
    "jest": false,
    "fixture": false,
    "GDC": false,
    "BASEPATH": false
  }
}
