{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "lodash"
  ]
}
