{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order",
        "stylelint-scss"
    ],
    "customSyntax": "postcss-scss",
    "rules": {
        "declaration-block-no-duplicate-properties": null,
        "declaration-no-important": true,
        "function-url-quotes": "always",
        "max-nesting-depth": 3,
        "no-duplicate-selectors": true,
        "no-unknown-animations": true,
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "order/properties-order": [
            "content",

            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",

            "box-sizing",
            "display",
            "visibility",
            "clip",
            "zoom",

            "flex",
            "order",
            "justify-content",
            "align-items",
            "flex-wrap",
            "overflow",
            "float",
            "clear",

            "width",
            "height",
            "min",
            "max",
            "margin",
            "padding",
            "border",
            "outline",
            "box-shadow",

            "table",
            "empty-cells",
            "caption-side",
            "border-spacing",
            "border-collapse",
            "list",

            "font",
            "line-height",
            "white-space",
            "word-spacing",
            "text",
            "vertical-align",

            "color",
            "background",
            "opacity",
            "cursor",
            "transform",
            "transition",
            "user-select",
            "pointer-events"
        ],
        "selector-max-id": 0,
        "value-no-vendor-prefix": true,
        "no-descending-specificity": null,
        "font-family-no-missing-generic-family-keyword": [true, {"ignoreFontFamilies": ["Indigo", "GoodIcons"]}],
        "selector-class-pattern": null,
        "function-no-unknown": null,
        "color-function-notation": null,
        "alpha-value-notation": null,
        "property-no-vendor-prefix": null,
        "custom-property-pattern": null,
        "value-keyword-case": ["lower", { "ignoreKeywords": ["currentColor", "sRGB"] }],
        "shorthand-property-no-redundant-values": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "font-family-name-quotes": null,
        "keyframes-name-pattern": null,
        "selector-no-vendor-prefix": null,
        "no-invalid-position-at-import-rule": null,
        "selector-not-notation": null,
        "media-feature-range-notation": null,
        "rule-empty-line-before": null,
        "at-rule-empty-line-before": null,
        "annotation-no-unknown": null,
        "import-notation": null,
        "declaration-property-value-no-unknown": null,
        "media-query-no-invalid": null,
        "color-function-alias-notation": null,
        "declaration-property-value-keyword-no-deprecated": null,
        "at-rule-descriptor-value-no-unknown": null
    }
}
