// (C) 2023 GoodData Corporation

import { withCaching, RecommendedCachingConfiguration } from "@gooddata/sdk-backend-base";
import backendFactory, { ContextDeferredAuthProvider } from "@gooddata/sdk-backend-bear";

export const backend = withCaching(
    backendFactory().withAuthentication(
        new ContextDeferredAuthProvider(() => {
            window.location.replace(
                `${window.location.origin}/account.html?lastUrl=${encodeURIComponent(window.location.href)}`,
            );
        }),
    ),
    RecommendedCachingConfiguration,
);
