/* Copyright (C) 2007-2013, GoodData(R) Corporation. All rights reserved. */
/* <%= pkg.title || pkg.name %> - v<%= pkg.version %> */
/* <%= grunt.template.today("yyyy-mm-dd HH:MM:ss") %> */
/* Latest git commit: <%= gitInfo %> */

