name: Push ~ Run integrated e2e tests
on:
  push:
    branches:
      - master
      - release

jobs:
  pull-request-info:
    if: ${{ !(startsWith(github.event.head_commit.message, format('chore{0} bump versions to', ':')) || startsWith(github.event.head_commit.message, format('chore{0} update Hugo version to', ':'))) }}
    runs-on: [ubuntu-latest]
    outputs:
      author: ${{ steps.author.outputs.result }}
    steps:
      - uses: actions/github-script@v7
        id: author
        with:
          script: |
            const pullRequests = await github.rest.repos.listPullRequestsAssociatedWithCommit({
              commit_sha: context.sha,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

            return pullRequests?.data[0]?.user?.login;
          result-encoding: string

  e2e-integrated:
    needs: [pull-request-info]
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    uses: ./.github/workflows/rw-rush-build-e2e-tests-integrated.yml
    secrets: inherit

  notify-failed-to-slack:
        if: ${{ !cancelled() && needs.e2e-integrated.result == 'failure' }}
        needs: [e2e-integrated,pull-request-info]
        runs-on: [ubuntu-latest]
        steps:
          - name: Inform to slack when workflows failed
            uses: slackapi/slack-github-action@v2.1.1
            with:
                channel-id: "#javascript-notifications"
                slack-message: ":warning: post merge e2e in *gooddata-sdk-ui* initiated by ${{env.AUTHOR}} encountered an error during execution. Check the *<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|log here>* for further information."
            env:
              SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
              AUTHOR: ${{ needs.pull-request-info.outputs.author }}
