# (C) 2024 GoodData Corporation

name: Release ~ Bump master to next major
on:
  workflow_dispatch:

jobs:
  gate-approval:
    runs-on: ubuntu-latest
    environment:
        name: production
    steps:
        - run: echo "Initiating approval"

  prepare-versions-master:
    needs: gate-approval
    uses: ./.github/workflows/rw-bump-version-major.yml
    secrets: inherit
    permissions:
      contents: write
    with:
        source-branch: 'master'
        prerelease-id: 'alpha'

  slack-notification:
    runs-on: [ubuntu-latest]
    needs: [prepare-versions-master]
    steps:
      - name: Inform to slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          channel-id: '#javascript-notifications'
          slack-message: "The *master* branch of *gooddata-ui-sdk* has been bumped to the next major version, *${{ env.VERSION }}*."
        env:
          VERSION: ${{ needs.prepare-versions-master.outputs.version }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
