# (C) 2024 GoodData Corporation

name: rw ~ Release ~ Release apidocs
on:
  workflow_call:
    inputs:
      source-branch:
          required: true
          description: "The name of the source branch"
          type: string
      is-new-latest:
        required: true
        description: "Whether this is the latest release"
        type: boolean
      version:
        required: true
        description: "The version which was released, or Next"
        type: string

# run from release -> is-new-latest: true -> version: x.y.z
# run from master -> is-new-latest: false -> version: Next
jobs:
  build-apidocs:
    runs-on: [ubuntu-latest]
    permissions:
      contents: write
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            ref: ${{ inputs.source-branch }}
            token: ${{ secrets.TOKEN_GITHUB_YENKINS_ADMIN }}
            path: "gooddata-ui-sdk"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            repository: 'gooddata/gooddata-ui-apidocs'
            ref: test-version
            token: ${{ secrets.TOKEN_GITHUB_YENKINS_ADMIN }}
            path: "gooddata-ui-apidocs"

      - name: Add repository to git safe directories to avoid dubious ownership issue
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Config user
        run: |
            git config --global user.email "git-action@gooddata.com"
            git config --global user.name "git-action"

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18.17.0

      - name: Install rush
        run: |
            npm install -g @microsoft/rush

      - name: Build apidocs
        run: |
          cd gooddata-ui-sdk
          rush install
          # Use after tagging projects which use api-extractor
          # rush build --to tag:api-doc
          rush build
          symlinks=$([ "$IS_NEW_LATEST" = true ] && echo "--update-symlink" || echo "")
          echo "updating symlinks: $symlinks"
          echo node common/scripts/build-docs.js -v $VERSION $symlinks
          node common/scripts/build-docs.js -v $VERSION $symlinks
          cd ..
        env:
          VERSION: ${{ inputs.version }}
          IS_NEW_LATEST: ${{ inputs.is-new-latest }}

      - name: Publish apidocs
        run: |
          cd gooddata-ui-apidocs
          git add --all
          git commit -m "Create a new api docs version $VERSION"
          git show --stat

          echo "Going to push to gooddata-ui-apidocs"
          git push origin test-version
          cd ..
        env:
          VERSION: ${{ inputs.version }}
          IS_NEW_LATEST: ${{ inputs.is-new-latest }}
