# (C) 2024 GoodData Corporation

name: rw ~ Rush ~ Publish version
on:
    workflow_call:
        inputs:
            source-branch:
                required: true
                description: "The name of the source branch"
                type: string
            release-tag:
                required: true
                description: "The release NPM tag e.g. prerelease, latest, hotfix ..."
                type: string

jobs:
    publish-version:
        runs-on: [infra1-medium]
        container:
            image: node:18.17.0-bullseye
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  ref: ${{ inputs.source-branch }}
            - name: Add repository to git safe directories to avoid dubious ownership issue
              run: git config --global --add safe.directory $GITHUB_WORKSPACE
            - name: Get NPM_PUBLISH_TOKEN from Vault and set it as env variable
              uses: hashicorp/vault-action@v2.7.5
              with:
                  url: "https://vault.ord1.infra.intgdc.com"
                  method: jwt
                  path: jwt/github
                  role: front-end
                  secrets: |
                    secret/data/v3/int/npm/rw-token secret | NPM_PUBLISH_TOKEN ;
            - name: Install rush
              run: |
                  npm install -g @microsoft/rush
            - name: Rush install
              run: |
                  rush install
            - name: Rush build
              run: |
                  rush build
            - name: Rush publish dry run
              run: |
                  rush publish --include-all --version-policy sdk --set-access-level public
            - name: Rush publish
              env:
                  TAG: ${{ inputs.release-tag }}
              run: |
                  rush publish --publish --include-all --version-policy sdk --tag $TAG --set-access-level public
